################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/emuriscv/v16
/Debug
/emuriscv.vcxproj.user
/emuriscv.vcxproj.filters
/linux*/**
/Release
/tools
